body {
    background-color: #cbc5c5;
}

*{
    text-align: center;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fondoSignup{
    background-image: url("../img/imgLogin.png");
    width: 100%;
    height: 900px;
}
.fondoLogin{
    background-image: url("../img/imgLogin.png");
    width: 100%;
    height: 756px;
}
.preguntaLogin{
    margin-top:1.5rem;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.mainRegistroLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    padding-top:60px;
    height: 100%;
    justify-content: flex-start;
}

.p-b-20 {
    padding-botton: 20px;
}
@media (min-width: 768px ) {
    .divCajaRegistro {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        color: white;
        border-radius:2rem;
    }
}
@media (max-width: 768px ) {
    .divCajaRegistro {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        color: white;
        border-radius:2rem;
    }
}
#signup input,select {
    display: inline;
}