<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nombre de la aplicacion</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Add custom CSS for the background image */
        body {
            background-image: url('/img/backgroundLanding.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Servicio Inclusivo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/signup"><button class="btn btn-warning">Registrarse</button></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login"><button class="btn btn-secondary">Iniciar Sesion</button></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="mailto:unmailtotalmentenormal@nose.com"><button class="btn btn-secondary">Contactanos</button></a>
            </li>
        </ul>
    </div>
</nav>

<!-- Description Section -->
<div class="container mt-4" style="margin-left: 0;">
    <div class="row">
        <div class="col-md-8 text-white">
            <h1>Servicio Inclusivo</h1>
            <p>Bienvenido a Servicio Inclusivo, la aplicación diseñada para hacer que el mundo sea más accesible para todos.
                Nos dedicamos a mejorar la calidad de vida de personas con necesidades especiales al proporcionar notificaciones instantáneas sobre problemas de accesibilidad y brindar la posibilidad de informarlos fácilmente. Desde alertas sobre servicios inaccesibles hasta la capacidad de compartir experiencias, estamos aquí para construir un entorno más inclusivo para todos. Únete a nosotros en el viaje hacia un mundo donde la accesibilidad es una prioridad, donde cada persona, sin importar sus necesidades, puede experimentar plenamente la vida cotidiana.
                ¡Haz que cada rincón del mundo sea accesible con Servicio Inclusivo!
            </p>
        </div>
    </div>
</div>

<!-- Include Bootstrap JS (Optional) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
