{{#partial "contenido"}}
    <main style="display: flex; margin-top: 3rem; flex-direction: column; justify-content: center; align-items: center;">
        <h1>MENU</h1>
    </main>

    <footer></footer>
{{/partial}}
{{>templates/layoutBase rolUsuario=RolUsuario}}