{{#partial "contenido"}}
    <main>
        <div style="display: flex; flex-direction: column; align-items: center; text-align: center;">
            <h2 style="text-align: center">Si llegaste aca, es porque no esta disponible lo que buscabas o porque ocurrio un error.</h2>
            <h2 style="text-align: center">Te dejo un michi en longboard como compensacion por el imprevisto.</h2>
            <img style="image-rendering: initial;" src="../img/NemoSkater.jpeg">
        </div>
    </main>
{{/partial}}
{{>templates/layoutBase rolUsuario=RolUsuario}}