<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log- in</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<header></header>
<main class="mainRegistroLogin fondoSignup">
    <div class="divCajaRegistro">
        <div id="signup" class="mainRegistroLogin">
            <h1>REGISTRO</h1>
            <form method="POST" action="/signup">
                <div class="mb-3 divInputRegistro">
                    <label for="inputNombre" class="form-label">Nombre</label>
                    <input name="nombre" type="text" class="form-control" id="inputNombre">
                </div>
                <div class="mb-5 divInputRegistro">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input name="email" type="email" class="form-control" id="inputEmail">
                </div>
                <div class="mb-5 divInputRegistro">
                      <label for="inputTelefono" class="form-label">Teléfono</label>
                      <input name="telefono" type="text" class="form-control" id="inputTelefono">
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="form-label text-left">Contraseña</label>
                    <input name="password" type="password" class="form-control text-left" id="inputPassword">
                    <ul id="requerimientosPassword">
                    </ul>
                </div>
                <div class="mb-3 collapse">
                    <label for="inputRepetirPassword" class="form-label text-left">Confirmar contraseña</label>
                    <input name="password" type="password" class="form-control text-left disabled" id="inputRepetirPassword">
                </div>
                <div class="mb-3 divInputRegistro">
                    <label for="exampleInputRol" class="form-label">Rol</label>
                    <select name="tipoUsuario" class="form-select" aria-label="Default select example">
                        <option>Rol</option>
                        <option selected value="MIEMBRO">Miembro</option>
                        <option value="ORGANISMO">Organismo de control</option>
                        <option value="PRESTADOR">Entidad prestadora</option>
                    </select>
                </div>
                <div class="mb-3">
                    <button type="submit" id="btnRegistro" class="btn btn-primary disabled">Registrarse</button>
                    <h4 class="preguntaLogin">¿Ya tenés cuenta?</h4>
                    <a href="/login">Iniciar sesión</a>
                </div>
            </form>
        </div>
    </div>
</main>

<footer></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
<script
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous">
</script>
<script>
    var urlValidadorPassword = '/validarPassword';
    $(document).ready( function () {

        validarPassword("");
       $('#inputPassword').on('change', () => {validarPassword($('#inputPassword').val())} );

       $('#inputRepetirPassword').on('change', () => {
           var txtPassword = $('#inputPassword').val();
           var txtPasswordConfirmar = $('#inputRepetirPassword').val();

           if(txtPassword === txtPasswordConfirmar) {
               $('#btnRegistro').removeClass('disabled');
           }
           else {
               $('#btnRegistro').addClass('disabled');
           }

       });

        $(window).keydown(function(event){
            if(event.keyCode === 13) {
                event.preventDefault();
                return false;
            }
        });

       function validarPassword(txtPassword) {
           var passwordActual = $('#inputPassword').val();

           $.ajax({
               type: "POST",
               url: urlValidadorPassword,
               data: passwordActual,
               processData: false,
               contentType: false,
               success: function(data) {
                   $('#requerimientosPassword').text('');
                   if(data.length > 0) {
                       data.map(x => {
                           let txt = x.toString();
                           let liParaInsertar = '<li>' + txt + '</li> \n';
                           $('#requerimientosPassword').append(liParaInsertar);
                       })
                       $('#inputRepetirPassword').parent().addClass("collapse");
                   }
                   else {
                       $('#inputRepetirPassword').parent().removeClass('collapse');
                   }
               }
           });
       }
    });
</script>
</body>

</html>